@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
	top:0px;
	right:0px;
	background:url("sns.png");
	width:290px;
	height:570px;
}
video{
	max-width:100%;
}
img{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
    width:50px
}