@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
.relative{
	position:relative;
}
.absolute{
	position:absolut;
	top:10px;
	right:10px;
	background:url("social.html");
    height:40px;
}
video{
	max-width:100%;
}
img{
	background-repeat:no-repeat;
}
p{
    text-align: center;
}