@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
.relative.active{
	position:absolute;
	right:250px;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
	top:px;
	right:0px;
	background:url("sns.png");
	width:230px;
	height:460px;
}
.absolute2{
	position:absolute;
	top:170px;
	left:10px;
	background:url("drivein2.png");
	width:150px;
	height:250px;
}

video{
	max-width:100%;
}
img{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}
ul{
	position:absolute;
	top:0;
	right:0;
	width:300;
	height:100%;
	display:flex;
	z-index:-1;
}