@charset "utf-8";
/* CSS Document */
*{
	box-sizing: border-box;
}
.relative.active{
	position:absolute;
	right:250px;
}
.relative{
	position:relative;
}
.absolute{
	position:absolute;
	top:100px;
	right:100px;
	background:url("sns.png");
	width:20px;
	height:150px;
}
.absolute2{
	position:absolute;
	top:100px;
	left:0px;
	background:url("drivein2.png");
	width:70px;
	height:250px;
}

video{
	max-width:100%;
}
img{
	margin:0;
	padding:0;
	background-repeat:no-repeat;
}