@charset "utf-8";
/* CSS Document */
ul{
    list-style:none;
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
    top:60px;
}
.absolute-2{
    position:absolute;
    top:150px;
}
img{
    width:60px;
    top:0;
}
.text-2{
    margin-left:150px;
    margin-top:80px;
}
.text{
    margin-left:150px;
}