@charset "utf-8";
/* CSS Document */
.header{
	color:white;
	background-color:cornflowerblue;
}
}
li{
	color:white;
	list-style:none;
}
.selected-list{
	color:white;
	display:flex;
}
p{
	font-size:15px;
}
img{
	wideth:430px;
	height:295px;
}
h2{
	font-size:20px;
	color:white;
	background-color:cornflowerblue;
}
a {
	color:black;
}
li {
	color:black;
}
.selected{
	color:cornflowerblue;
